<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta property="qc:admins" content="15317273575564615446375" />
  <meta property="og:image" content="https://static.segmentfault.com/v-59cf75a6/global/img/touch-icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="alexaVerifyID" content="LkzCRJ7rPEUwt6fVey2vhxiw1vQ" />
  <meta name="apple-itunes-app" content="app-id=958101793, app-argument=" />
  <title>接单平台</title>
  <meta name="description" content="SegmentFault ( www.sf.gg ) 是中国领先的开发者技术社区。 我们希望为编程爱好者提供一个纯粹、高质的技术交流的平台， 与开发者一起学习、交流与成长，创造属于开发者的时代！" />
  <meta name="keywords" content="SegmentFault,黑客马拉松,IT技术社区,编程社区,技术问答,技术文章,技术笔记,技术活动,程序员招聘,开发者,程序员,极客,编程,代码,开源,hackathon" />
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="SegmentFault" />
  <link rel="shortcut icon" href="https://static.segmentfault.com/v-59cf75a6/global/img/favicon.ico" />
  <link rel="apple-touch-icon" href="https://static.segmentfault.com/v-59cf75a6/global/img/touch-icon.png" />
  <meta name="msapplication-TileColor" content="#4885f5" />
  <meta name="msapplication-square150x150logo" content="https://static.segmentfault.com/v-59cf75a6/global/img/touch-icon.png" />
  <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新问题" href="/feeds/questions" />
  <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新文章" href="/feeds/blogs" />
  <link rel="alternate" type="application/atom+xml" title="订阅 SegmentFault 当前页" href="/feeds" />
  <link rel="stylesheet" type="text/css" href="/css/qa.css" th:href="@{/css/qa.css}"/>
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" th:href="@{/css/responsive.css}"/>
  <link rel="stylesheet" type="text/css" href="/css/global.css" th:href="@{/css/global.css}"/>
 </head>
 <body data-mod="qa" class="qa-index ">
  <!--[if lt IE 9]><div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div><![endif]-->
  <img id="icon4weChat" style="height: 0;width: 0;" data-src="https://static.segmentfault.com/v-59cf75a6/global/img/touch-icon-512.png" />
  <div class="global-nav sf-header sf-header--index">
   <nav class="container nav">
    <div class="visible-xs header-response">
     <a href="/search" style="display:block"><i class="fa fa-search" aria-hidden="true"></i></a>
     <div class="sf-header__logo sf-header__logo--response">
      <h1><a href="/" style="height:24px; background-size: auto 24px;"></a></h1>
     </div>
     <a href="/user/login" class="pull-right login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
     <div class="bottom-nav">
      <div class="opts">
       <a class="opts-group active" href="/questions"><i class="fa fa-comments" aria-hidden="true"></i><span>问答</span></a>
       <a class="opts-group " href="/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i><span>头条</span></a>
       <a class="opts-group " href="/blogs"><i class="fa fa-pencil-square" aria-hidden="true"></i><span>专栏</span></a>
       <a class="opts-group " href="/lives"><i class="fa fa-play-circle" aria-hidden="true"></i><span>讲堂</span></a>
       <div class="opts-group">
        <div class="btn-group dropup">
         <i class="fa fa-bars dropdown hoverDropdown" data-toggle="dropdown" aria-hidden="true"><span>更多</span></i>
         <ul class="dropdown-menu">
          <li><a href="/jobs">职位</a></li>
          <li><a href="/events">活动</a></li>
          <li><a href="/tags">标签</a></li>
          <li><a href="/badges">徽章</a></li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row hidden-xs">
     <div class="col-sm-8 col-md-9 col-lg-9">
      <div class="sf-header__logo">
       <h1><a href="#">segmentfault</a></h1>
      </div>
      <div>
       <ul class="menu list-inline pull-left hidden-xs">
        <li class="menu__item"><a href="/questions" class="active-nav">首页</a></li>
        <li class="menu__item"><a href="/news" class="">网站建设</a></li>
        <li class="menu__item"><a href="/blogs" class="">App开发</a></li>
        <li class="menu__item"><a href="/lives" class="">微信开发</a></li>
        <li class="menu__item"><a href="/lives" class="">软件开发</a></li>
        <!-- <li class="menu__item menu__itemmore dropdown"><a href="##" class="dropdown-toggle dropdownBtn" data-toggle="dropdown"> 发现<i class="fa fa-caret-down" style="font-size: 14px;margin-left: 5px;" aria-hidden="true"></i></a>
         <div class="dropdown-block hidden">
          <ul class="dropdown-content-menu">
           <li><a href="/events">活动</a></li>
           <li><a href="/groups">技术圈<span class="notice notice-menu">hi</span></a></li>
           <li><a href="/jobs">找工作</a></li>
           <li><a href="/users">排行榜</a></li>
           <li><a href="/badges">徽章</a></li>
           <li><a href="https://docs.segmentfault.com" target="_blank">开发手册<i style="line-height: 20px;font-size: 12px;color: #F5A623;" class="ml10 fa fa-external-link-square"></i></a></li>
          </ul>
         </div></li> -->
        <li class="menu__item visible-sm-inline-block"><a href="/search"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span></a></li>
       </ul>
       <form action="/search" class="header-search  hidden-sm hidden-xs pull-right">
        <button class="btn btn-link"><span class="sr-only">搜索</span><span class="fa fa-search" aria-hidden="true"></span></button>
        <input id="searchBox" name="q" type="text" placeholder="搜索问题或关键字" class="form-control" value="" />
       </form>
      </div>
     </div>
     <div class="col-sm-4 col-md-3 col-lg-3 text-right">
      <ul class="opts list-inline hidden-xs">
       <li class="opts__item"><a href="/user/login" class="SFLogin btn-signin" style="margin-bottom:2px;">立即登录</a><a href="/user/login" class="SFLogin ml10 btn-signup" onclick="_gaq.push(['_trackEvent', 'Button', 'Click', 'Login']);">免费注册</a></li>
      </ul>
     </div>
    </div>
<!--     <div class="sub-head hidden-xs">
     <span class="tag-nav__item btn-all-tag"><a href="/tags" class="text-secondNav">热门标签</a></span>
     <div class="tag-container-outer">
      <span class="tag-nav__item mr20 active"><a class="active" href="/questions">全部</a></span>
      <div class="tag-container">
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/javascript">javascript</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/php">php</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/python">python</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/java">java</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/mysql">mysql</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/ios">ios</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/android">android</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/node.js">node.js</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/html5">html5</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/linux">linux</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/c%2B%2B">c++</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/css3">css3</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/git">git</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/golang">golang</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/ruby">ruby</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/vim">vim</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/docker">docker</a></span>
       <span class="tag-nav__item mr20"><a class="text-secondNav" href="/t/mongodb">mongodb</a></span>
      </div>
     </div>
     <div class="gradient-block"></div>
    </div> -->
   </nav>
  </div> 
  <div class="wrap"> 

   <div class="container"> 
    <div class="row"> 
     <div class="col-xs-12 col-md-9 main"> 
      <ul class="nav nav-tabs mb10 mt30 visible-xs"> 
       <li class="active"><a href="/questions">最新问答</a> </li> 
       <li><a href="/questions/hottest">热门问答</a></li> 
       <li><a href="/questions/unanswered">等待回答</a> </li> 
       <li role="presentation" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> 更多 <span class="caret"></span> </a> 
        <ul class="dropdown-menu"> 
         <li><a href="/feed">最新动态</a> </li> 
         <li><a href="/experts">付费问答</a></li> 
        </ul> </li> 
      </ul> 
      <ul class="nav nav-tabs mb10 mt30 hidden-xs"> 
       <li class="active"><a href="/questions">任务大厅</a> </li> 
       <li><a href="/questions/hottest">网站建设</a></li> 
       <li><a href="/questions/unanswered">App开发</a> </li> 
       <li><a href="/feed">微信开发</a> </li> 
       <li><a href="/experts">软件开发</a></li> 
      </ul> 
      <div class="stream-list question-stream"> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers answered">
           2
          <small>竞标</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>51</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/neofelhz">neoFelhz</a> <span class="split"></span> <a href="/q/1010000011436884/a-1020000011438338">2 分钟前回答</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011436884">bootcdn 可以商用吗？？</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/javascript" data-toggle="popover" data-original-title="javascript" data-id="1040000000089436">javascript</a></li> 
         </ul> 
        </div> 
       </section> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers answered">
           2
          <small>竞标</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>25</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/spencerht">spencerht</a> <span class="split"></span> <a href="/q/1010000011438103/a-1020000011438297">8 分钟前回答</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011438103">vue web的名称怎么修改</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/vue.js" data-toggle="popover" data-original-title="vue.js" data-id="1040000004003243">vue.js</a></li> 
         </ul> 
        </div> 
       </section> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers">
           0
          <small>竞标</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>12</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/junzuo">x俊o</a> <span class="split"></span> <a href="/q/1010000011438267" class="askDate" data-created="1506922757">16 分钟前提问</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011438267">python语言下的正则表达式运行有误</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/%E6%AD%A3%E5%88%99%E8%A1%A8%E8%BE%BE%E5%BC%8F" data-toggle="popover" data-original-title="正则表达式" data-id="1040000000089653">正则表达式</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/python" data-toggle="popover" data-original-title="python" data-id="1040000000089534">python</a></li> 
         </ul> 
        </div> 
       </section> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers answered">
           1
          <small>竞标</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>28</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/double_c">watermelo</a> <span class="split"></span> <a href="/q/1010000011438208/a-1020000011438224">24 分钟前回答</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011438208">npm安装一个插件出现这些是什么意思？怎么才算有安装成功了？</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/node.js" data-toggle="popover" data-original-title="node.js" data-id="1040000000089918">node.js</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/npm" data-toggle="popover" data-original-title="npm" data-id="1040000000090688">npm</a></li> 
         </ul> 
        </div> 
       </section> 
      <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers">
           0
          <small>回答</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>22</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/resjay">ResJay</a> <span class="split"></span> <a href="/q/1010000011438151" class="askDate" data-created="1506921045">45 分钟前提问</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011438151">CSS有没有预添加样式的方法 </a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/html" data-toggle="popover" data-original-title="html" data-id="1040000000089571">html</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/javascript" data-toggle="popover" data-original-title="javascript" data-id="1040000000089436">javascript</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/css" data-toggle="popover" data-original-title="css" data-id="1040000000089434">css</a></li> 
         </ul> 
        </div> 
       </section> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes minus hidden-xs">
           -2
          <small>得票</small> 
         </div> 
         <div class="answers">
           0
          <small>回答</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>26</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/universsky">之剑</a> <span class="split"></span> <a href="/q/1010000011438115" class="askDate" data-created="1506920527">54 分钟前提问</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011438115">Kotlin未来发展前景怎么样？ 会成为 Next Java 吗？</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/kotlin" data-toggle="popover" data-original-title="kotlin" data-id="1040000000325397">kotlin</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/java" data-toggle="popover" data-original-title="java" data-id="1040000000089449">java</a></li> 
         </ul> 
        </div> 
       </section> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes minus hidden-xs">
           -1
          <small>得票</small> 
         </div> 
         <div class="answers">
           0
          <small>回答</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>24</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/tuhuo">土货</a> <span class="split"></span> <a href="/q/1010000011438068" class="askDate" data-created="1506919890">1 小时前提问</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011438068">java字符串怎么转换成类名？</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/jsp" data-toggle="popover" data-original-title="jsp" data-id="1040000000089516">jsp</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/java" data-toggle="popover" data-original-title="java" data-id="1040000000089449">java</a></li> 
         </ul> 
        </div> 
       </section> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers answered">
           1
          <small>回答</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>23</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/weidaohuanbucuoo">味道还不错哦</a> <span class="split"></span> <a href="/q/1010000011437956/a-1020000011438064">1 小时前回答</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011437956">nwjs网页窗口如何回调父窗口函数？</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/nwjs" data-toggle="popover" data-original-title="nwjs" data-id="1040000002618289">nwjs</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/javascript" data-toggle="popover" data-original-title="javascript" data-id="1040000000089436">javascript</a></li> 
         </ul> 
        </div> 
       </section>
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers answered">
           2
          <small>回答</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>33</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/weidaohuanbucuoo">味道还不错哦</a> <span class="split"></span> <a href="/q/1010000011437808/a-1020000011437975">1 小时前回答</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011437808">手淘中天猫超市模块中的过度页是如何实现的？</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/%E4%BA%A4%E4%BA%92%E8%AE%BE%E8%AE%A1" data-toggle="popover" data-original-title="交互设计" data-id="1040000002494189">交互设计</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/css" data-toggle="popover" data-original-title="css" data-id="1040000000089434">css</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/html" data-toggle="popover" data-original-title="html" data-id="1040000000089571">html</a></li>
          <li class="tagPopup"><a class="tag tag-sm" href="/t/javascript" data-toggle="popover" data-original-title="javascript" data-id="1040000000089436">javascript</a></li> 
         </ul> 
        </div> 
       </section> 
       <section class="stream-list__item"> 
        <div class="qa-rank"> 
         <div class="votes hidden-xs">
           0
          <small>得票</small> 
         </div> 
         <div class="answers answered">
           1
          <small>回答</small> 
         </div> 
         <div class="views hidden-xs viewsword0to99"> 
          <span>35</span> 
          <small>浏览</small> 
         </div> 
        </div> 
        <div class="summary"> 
         <ul class="author list-inline"> 
          <li> <a href="/u/jokester">jokester</a> <span class="split"></span> <a href="/q/1010000011436895/a-1020000011437934">1 小时前回答</a> </li> 
         </ul> 
         <h2 class="title"><a href="/q/1010000011436895">是否可以用node的stream来读并改写最后写入到同一个文件？</a></h2> 
         <ul class="taglist--inline ib"> 
          <li class="tagPopup"><a class="tag tag-sm" href="/t/node.js" data-toggle="popover" data-original-title="node.js" data-id="1040000000089918">node.js</a></li> 
         </ul> 
        </div> 
       </section> 
      </div>
      <!-- /.stream-list --> 
      <div class="text-center"> 
       <ul class="pager"> 
        <li>以上是部分更新，你还可以查看</li> 
        <li><a href="/questions">全部问题</a></li> 
        <li>或者</li> 
        <li><a href="/questions/hottest">热门问题</a></li> 
        <li>列表</li> 
       </ul> 
      </div> 
     </div>
     <!-- /.main --> 
     <div class="col-xs-12 col-md-3 side mt30"> 
      <!-- 新手任务部分结束 --> 
      <div class="alert alert-warning" role="alert"> 
       <a class="report" href="https://segmentfault.com/groups">SF 技术圈2.0 上线，你的圈中好友在找你~</a> 
      </div> 
      <div id="mm_124884735_33830642_122598415" class="mb10">
      	<span style="overflow: visible; position: relative; display: block; width: 255px; height: 80px; background: none; border: 0px; text-align: left;">
      		<span style="overflow: hidden; position: absolute; display: block; width: 255px; height: 80px; background: none; border: 0px; text-align: left;">
      			<span style="overflow: hidden; position: absolute; display: block; width: 255px; height: 80px; background: none; border: 0px; text-align: left;">
      				<a href="https://afptrack.alimama.com/clk?bid=0bfbf7ca000059d218da564d23f96a0d&pid=mm_124884735_33830642_122598415&cid=254994&mid=241380&oid=33116&productType=1&qytInfoMTime=1506798921&e=2tEHj0NJFtxfumWCnJqSga1JZaGBu5eWubCF56KtUKU4OlsUKOHxOPgp8WRNkqbzAhjPBX0ETqGOPHD6DHXZ%2FEjsD7Kvzk3KJedHdiw7AsG9XGxodpu9GQ%3D%3D&k=121" target="_blank" style="position: absolute; display: block; top: 0px; left: 0px; margin: 0px; padding: 0px; width: 255px; height: 80px; text-decoration: none; opacity: 0; z-index: 1; cursor: pointer; background: rgb(255, 255, 255);"></a>
      			<img id="ac_cs_mm_124884735_33830642_122598415_1" border="0" style="width: 255px; height: 80px;" src="https://afp.alicdn.com/afp-creative/creative/u124884735/37be9ee6d754b335322a9d557f746af2.png">
      			</span>
      		</span>
      	</span>
      </div> 
      <div id="mm_124884735_33830642_122600360" class="mb25">
      	<span style="overflow: visible; position: relative; display: block; width: 255px; height: 80px; background: none; border: 0px; text-align: left;">
      		<span style="overflow: hidden; position: absolute; display: block; width: 255px; height: 80px; background: none; border: 0px; text-align: left;">
      			<span style="overflow: hidden; position: absolute; display: block; width: 255px; height: 80px; background: none; border: 0px; text-align: left;">
      				<a href="https://afptrack.alimama.com/clk?bid=0bfbf7ca000059d218da564d23f96a0d&pid=mm_124884735_33830642_122598415&cid=254994&mid=241380&oid=33116&productType=1&qytInfoMTime=1506798921&e=2tEHj0NJFtxfumWCnJqSga1JZaGBu5eWubCF56KtUKU4OlsUKOHxOPgp8WRNkqbzAhjPBX0ETqGOPHD6DHXZ%2FEjsD7Kvzk3KJedHdiw7AsG9XGxodpu9GQ%3D%3D&k=121" target="_blank" style="position: absolute; display: block; top: 0px; left: 0px; margin: 0px; padding: 0px; width: 255px; height: 80px; text-decoration: none; opacity: 0; z-index: 1; cursor: pointer; background: rgb(255, 255, 255);"></a>
      			<img id="ac_cs_mm_124884735_33830642_122598415_1" border="0" style="width: 255px; height: 80px;" src="https://afp.alicdn.com/afp-creative/creative/u124884735/0a8adca622a1f3523301fa2479e21797.png">
      			</span>
      		</span>
      	</span>
      </div> 
      <div data-api="/api/live/recommend"> 

            <div class="widget-box widget_lives">
                <h2 class="widget-box__title">
                    讲堂推荐
                    <i class="fa fa-youtube-play fa-sm" aria-hidden="true"></i>
                    <a href="/lives" class="pull-right more">更多</a>
                </h2>
     

                <div style="padding-left:4px;">
                    <div class="line">
                        <% _.each(data,function(d){ %>
                        <div class="item">
                            <span class="thePoint"></span>
                            <p class="startWord"><%- d.startWord %></p>
                            <div>
                                <a href="<%-d.user.url%>" target="_blank" class="pull-left"><img src="<%- d.user.avatarUrl %>" class="lecturer_avater"> 
                                </a>
                                <div class="message">
                                    <a href="<%- d.url%>" target="_blank" class="lecturer_title">
                                        <div class="titlebox"><%- d.title %></div>
                                    </a>
                                    <p class="">
                                        <a href="<%-d.user.url%>" target="_blank" class="lecturer_name"><%-d.user.name %></a><span class="split"></span><span class="joinedUsers"><%- d.joinedUsers %> 人参与</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>

      </div> 
      <div data-type="widget" data-api="/api/user/ranking"> 
      

            <div class="widget-box">
                <h2 class="widget-box__title">
                    排行榜
                    <span class="userstab text-muted pull-right ">
                            <a href="javascript:void(0);" data-tab="Daily" class="active">今天</a>
                        &middot;
                        <a href="javascript:void(0);" data-tab="Weekly">本周</a>
                        &middot;
                        <a href="/users">更多</a>
                        </span>
                </h2>
                <ol id="usersDaily" class="widget-top10">
                    <% _.each(daily,function(d){ %>
                    <li class="text-muted">
                        <img class="avatar-24" src="<%- d.avatarUrl %>"/>
                        <a href="<%- d.url %>" class="ellipsis">
                            <%= d.name %>
                        </a>
                        <span class="text-muted pull-right">+<%- d.incr %></span>
                    </li>
                    <% }) %>
                </ol>
                <ol id="usersWeekly" class="widget-top10  hidden">
                    <% _.each(weekly,function(d){ %>
                    <li class="text-muted">
                        <img class="avatar-24" src="<%- d.avatarUrl %>"/>
                        <a href="<%- d.url %>" class="ellipsis">
                            <%= d.name %>
                        </a>
                        <span class="text-muted pull-right">+<%- d.incr %></span>
                    </li>
                    <% }) %>
                </ol>
            </div>

      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="container text-right mb20 hidden-xs"> 
   <a href="/feeds" class="feed-link">订阅本页 RSS</a> 
  </div> 
  <footer id="footer"> 
   <div class="container"> 
    <div class="row hidden-xs"> 
     <dl class="col-sm-2 site-link"> 
      <dt>
       网站相关
      </dt> 
      <dd>
       <a href="/about">关于我们</a>
      </dd> 
      <dd>
       <a href="/tos">服务条款</a>
      </dd> 
      <dd>
       <a href="/faq">帮助中心</a>
      </dd> 
      <dd>
       <a href="/repu">声望与权限</a>
      </dd> 
      <dd>
       <a href="/markdown">编辑器语法</a>
      </dd> 
      <dd>
       <a href="/weekly">每周精选</a>
      </dd> 
      <dd>
       <a href="/community">社区服务中心</a>
      </dd> 
     </dl> 
     <dl class="col-sm-2 site-link"> 
      <dt>
       联系合作
      </dt> 
      <dd>
       <a href="/contact">联系我们</a>
      </dd> 
      <dd>
       <a href="/hiring">加入我们</a>
      </dd> 
      <dd>
       <a href="/link">合作伙伴</a>
      </dd> 
      <dd>
       <a href="/press">媒体报道</a>
      </dd> 
      <dd>
       <a href="/g/1570000009280187">建议反馈</a>
      </dd> 
     </dl> 
     <dl class="col-sm-2 site-link"> 
      <dt>
       常用链接
      </dt> 
      <dd>
       <a href="//chrome.google.com/webstore/detail/segmentfault-%E7%AC%94%E8%AE%B0/pjklfdmleagfaekibdccmhlhellefcfo" target="_blank">笔记插件: Chrome</a>
      </dd> 
      <dd>
       <a href="//addons.mozilla.org/zh-CN/firefox/addon/sf-note-ext/" target="_blank">笔记插件: Firefox</a>
      </dd> 
      <dd>
       订阅：
       <a href="/feeds">问答</a> / 
       <a href="/feeds/blogs">文章</a>
      </dd> 
      <dd>
       <a href="//mirrors.segmentfault.com/" target="_blank">文档镜像</a>
      </dd> 
      <dd>
       <a href="//segmentfault.com/d-day" target="_blank">D-DAY 技术沙龙</a>
      </dd> 
      <dd>
       <a href="//segmentfault.com/hackathon" target="_blank">黑客马拉松 Hackathon</a>
      </dd> 
      <dd>
       <a href="//namebeta.com/" target="_blank">域名搜索注册</a>
      </dd> 
      <dd>
       <a href="https://shop165859711.taobao.com/" target="_blank">周边店铺</a>
      </dd> 
     </dl> 
     <dl class="col-sm-2 site-link"> 
      <dt>
       社区日志
      </dt> 
      <dd>
       <a href="//segmentfault.com/blog/segmentfault" target="_blank">产品技术日志</a>
      </dd> 
      <dd>
       <a href="//segmentfault.com/blog/community_admin" target="_blank">社区运营日志</a>
      </dd> 
      <dd>
       <a href="//segmentfault.com/blog/segmentfault_news" target="_blank">市场运营日志</a>
      </dd> 
      <dd>
       <a href="//segmentfault.com/blog/segmentfault_team" target="_blank">团队日志</a>
      </dd> 
      <dd>
       <a href="//segmentfault.com/blog/interview" target="_blank">社区访谈</a>
      </dd> 
      <dd> 
       <ul class="sn-inline"> 
        <li> <a class="entypo-wechart icon-sn-weixin weixin-popover-qrcode" data-toggle="popover" data-placement="top" data-content="">微信</a> </li> 
        <li> <a href="http://weibo.com/segmentfault" target="_blank" class="entypo-weibo icon-sn-weibo">新浪微博</a> </li> 
        <li> <a href="https://github.com/SegmentFault" target="_blank" class="entypo-facebook icon-sn-github">Github</a> </li> 
        <li> <a href="https://twitter.com/segment_fault" target="_blank" class="entypo-twitter icon-sn-twitter">Twitter</a> </li> 
       </ul> 
      </dd> 
     </dl> 
     <dl class="col-sm-4 site-link" id="license"> 
      <dt>
       内容许可
      </dt> 
      <dd>
       除特别说明外，用户内容均采用 
       <a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a> 进行许可 
      </dd> 
      <dd>
       本站由 
       <a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&amp;utm_medium=link&amp;utm_campaign=upyun&amp;md=segmentfault">又拍云</a> 提供 CDN 存储服务 
      </dd> 
      <dd> 
      <!--  <a href="/app"><img src="https://static.segmentfault.com/v-59cf75a6/page/img/app/appQrcode.png" class="app-qrcode" /></a> 
       <div class="app-download-desc"> 
        <p>手机扫一扫</p> 
        <p>下载官方 App</p> 
       </div>  -->
      </dd> 
     </dl> 
     <div> 
     </div> 
    </div> 
    <div class="copyright">
      Copyright &copy; 2011-2017 SegmentFault. 当前呈现版本 17.06.16
     <br /> 
     <a href="http://www.miibeian.gov.cn/" rel="nofollow">浙ICP备 15005796号-2</a> &nbsp; 
     <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002000" rel="nofollow">浙公网安备 33010602002000号</a> 
     <span class="ml5">XXXX科技有限公司版权所有</span> 
    </div> 
    <p class="text-center"> <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="mobile" href="javascript:;">移动版</a> <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="desktop" href="javascript:;">桌面版</a> </p> 
   </div> 
  </footer> 
  <div id="fixedTools" class="hidden-xs hidden-sm"> 
   <a id="backtop" class="hidden border-bottom" href="#">回顶部</a> 
  </div> 
  <script id="loginModal" type="text/template">
    <div class="row bg-white login-modal">
        <div class="col-md-4 col-sm-12 col-md-push-7 login-wrap">
            <h1 class="h4 text-muted login-title">用户登录</h1>
            <form action="/api/user/login" method="POST" role="form" class="mt30">
                <div class="form-group">
                    <label for="username" class="control-label">手机号 或 Email</label>
                    <input type="text" class="form-control" name="username" required placeholder="11 位手机号 或 Email"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label class="control-label">密码</label><span class="pull-right"><a
                                href="/user/forgot">忘记密码</a></span>
                    <input type="password" class="form-control" name="password" required placeholder="密码">
                </div>
                <div class="form-group clearfix">
                    <div class="checkbox pull-left">
                        <label><input name="remember" type="checkbox" value="1" checked> 记住登录状态</label>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right pl20 pr20"
                            onclick='ga("send", "event", "email login button", "clicked", "login modal");'>登录
                    </button>
                </div>
            </form>
            <p class="h4 text-muted visible-xs-block h4">快速登录</p>
            <div class="widget-login mt30">
                <p class="text-muted mt5 mr10 pull-left hidden-xs">快速登录</p>
                <a href="/user/oauth/google" class=""
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "google"});'><span
                            class="icon-sn-google"></span> <strong class="visible-xs-inline">Google 账号</strong></a>
                <a href="/user/oauth/github" class=""
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "github"});");'><span
                            class="icon-sn-github"></span> <strong class="visible-xs-inline">Github 账号</strong></a>
                <a href="/user/oauth/weibo" class=""
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "weibo"});'><span
                            class="icon-sn-weibo"></span> <strong class="visible-xs-inline">新浪微博账号</strong></a>
                <a href="/user/oauth/qq" class=""
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "qq"});'><span
                            class="icon-sn-qq"></span> <strong class="visible-xs-inline">QQ 账号</strong></a>
                <a href="/user/oauth/weixin" class=""
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "qq"});'><span
                            class="icon-sn-weixin"></span> <strong class="visible-xs-inline">微信账号</strong></a>
                <a href="/user/oauth/linkedin" class=""
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "linkedin"});'><span
                            class="icon-sn-linkedin"></span> <strong class="visible-xs-inline">LinkedIn 账号</strong></a>
                <span id="loginShowMore" style="cursor: pointer" class="mb5"><span class="icon-sn-dotted"></span><strong
                            class="visible-xs-inline">•••</strong></span>
                <a href="/user/oauth/twitter" class=" hidden"
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "twitter"});'><span
                            class="icon-sn-twitter"></span> <strong class="visible-xs-inline">Twitter 账号</strong></a>
                <a href="/user/oauth/facebook" class=" hidden"
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "facebook"});'><span
                            class="icon-sn-facebook"></span> <strong class="visible-xs-inline">Facebook 账号</strong></a>
                <a href="/user/oauth/douban" class=" hidden"
                   onclick='ga("send", "event", "3rd login button", "clicked", "login modal", {media: "douban"});'><span
                            class="icon-sn-douban"></span> <strong class="visible-xs-inline">豆瓣账号</strong></a>
            </div>
        </div>
        <div class="login-vline hidden-xs hidden-sm"></div>
        <div class="col-md-4 col-md-pull-3 col-sm-12 login-wrap">
            <h1 class="h4 text-muted login-title">注册新账号</h1>
            <form action="/api/user/phone/register" method="POST" role="form" class="mt30">
                <div class="form-group">
                    <label for="name" class="control-label">名字</label>
                    <input type="text" class="form-control" name="name" required placeholder="真实姓名或常用昵称">
                </div>


                <div class="form-group js-register-switch-box">
                    <div class="mb10">
                        <label class="radio-inline">
                            <input type="radio" name="register_type" value="phone" checked> 用手机号注册
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="register_type" value="mail"> 用 Email 注册
                        </label>
                    </div>
                    <div class="js-register-switch-content">
                        <input type="phone" class="form-control mb15" name="phone" required placeholder="仅支持大陆手机号"
                               autocomplete="off">
                        <div class="input-group"><input name="code" type="text"
                                                        class="form-control js-user-login__phone-code-value"
                                                        placeholder="短信验证码">
                            <span class="input-group-btn"><button class="btn btn-default js-user-login__phone-vaild-btn"
                                                                  style="width:96px;" type="button">获取验证码</button></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="control-label">密码</label>
                    <input type="password" class="form-control" name="password" required placeholder="不少于 6 位">
                </div>
                <div class="form-group" style="display:none;">
                    <label class="required control-label">验证码</label>
                    <input type="text" class="form-control" id="captcha" name="captcha" placeholder="请输入下方的验证码">
                    <div class="mt10"><a id="loginReloadCaptcha" href="javascript:void(0)"><img
                                    data-src="/user/captcha?w=240&h=50" class="captcha" width="240" height="50"/></a>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="checkbox pull-left">
                        同意并接受<a href="/tos" target="_blank">《服务条款》</a>
                    </div>
                    <button type="submit" class="btn btn-primary pl20 pr20 pull-right"
                            onclick='ga("send", "event", "email register button", "clicked", "login modal");'>注册
                    </button>
                </div>
            </form>
        </div>
    </div>

   <!--  <div style="position: absolute;transform: scale(0.5,0.5) translate(136%,-114%); left: -3px;" class="hidden-xs">
        <img src="https://static.segmentfault.com/v-59cf75a6/global/img/fool/login@2x.png">
    </div>
 -->
    <div class="text-center text-muted mt30">
    </div>
</script> 
  <script id="bindPhoneModal" type="text/template">
    <div class="bg-white bindphone-model">
        <div class="alert alert-warning" role="alert">
            为了保证账号安全，请先绑定手机
        </div>
        <div>
            <form class="form-horizontal form__bindphone-apply" style="background-color:#fff;padding:0;">
                <div class="form-group ">
                    <label for="phoneNumber" class="col-sm-3 control-label required" >手机号码</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control bindphone--phone" id="phoneNumber" name="phone" placeholder="仅只支持大陆手机号">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="form-group">
                    <label for="authCode" class="col-sm-3 control-label required">验证码</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control bindphone--code" name="code" placeholder="短信验证码">
                            <span class="input-group-btn">
                                <button class="btn btn-default user-bind__phone-vaild-btn" type="button">获取验证码</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>
        </div>

    </div>
</script> 
  <script>
    (function (w) {
        w.SF = {
            staticUrl: "https://static.segmentfault.com/v-59cf75a6"
        };
        w.SF.token = (function () {
    var _wH2I7k = '66'//'ZB'
+//'T'
'e0'+//'Qda'
'820'+/* 'C'//'C' */''+//'O'
'd40'+''///*'Z'*/'Z'
+'f'//'PgA'
+//'ic8'
'48b'+//'QC0'
'be9'+'Q'//'Q'
+'7'//'qV'
+'72e'//'3Sf'
+'b'//'U5o'
+//'43J'
'43J'+'ui'//'ui'
+'c4a'//'nu'
+'0b8'//'kqV'
+'2e'//'De'
+'77'//'Iu'
, _7w8 = [[17,18],[22,25],[22,24]];

    for (var i = 0; i < _7w8.length; i ++) {
        _wH2I7k = _wH2I7k.substring(0, _7w8[i][0]) + _wH2I7k.substring(_7w8[i][1]);
    }

    return _wH2I7k;
})();;
    })(window);

                var lock = {
        type: "",
        text: '',
        table: {"ban_post":[1,"\u4f60\u5df2\u7ecf\u88ab\u7981\u8a00, \u65e0\u6cd5\u8fdb\u884c\u6b64\u64cd\u4f5c, \u5982\u6709\u7591\u4e49\u8bf7\u63d0\u4ea4\u7533\u8bc9, \u6216\u8005\u53d1\u90ae\u4ef6\u5230pr@segmentfault.com"]}
    };
</script> 
  <script crossorigin="" src="https://static.segmentfault.com/v-59cf75a6/3rd/assets.js"></script> 
  <script crossorigin="" src="https://static.segmentfault.com/v-59cf75a6/qa/script/index.min.js"></script> 
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-918487-8']);
    _gaq.push(['_trackPageview']);
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                
        

            

    ga('create', 'UA-918487-8', 'auto', {
        'userID'
    : 0,
        'createdTime'
    : 0,
        'now'
    : 1506923810,
        'allowLinker'
    : true });
    ga('require', 'linker');
    ga('linker:autoLink', ['docs.segmentfault.com'] );
    ga('set', 'dimension1', 'guest');
    ga('send', 'pageview');

</script> 
  <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script> 
  <script type="text/javascript" src="//afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script> 
  <script>
                _acM({
            aid: "mm_124884735_33830642_122598415",
            format: 1,
            mode: 1,
            gid: 1,
            destid: "mm_124884735_33830642_122598415",
            sendkeywords: 0,
            serverbaseurl: "afpeng.alimama.com/"
        });
        </script> 
  <script>
                _acM({
            aid: "mm_124884735_33830642_122600360",
            format: 1,
            mode: 1,
            gid: 1,
            destid: "mm_124884735_33830642_122600360",
            sendkeywords: 0,
            serverbaseurl: "afpeng.alimama.com/"
        });
        </script>   
 </body>
</html>